<!--<form>
  <mat-form-field>
    <mat-label>Tipo de empresa</mat-label>
    <mat-select>
      @for (company of companyTypes; track company) {
      <mat-option [value]="company.value">{{company.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="list-none">

    <mat-checkbox color="primary">Módulo Base</mat-checkbox>
    <ul>
      <li><mat-checkbox color="primary">Base.1</mat-checkbox></li>
    </ul>
  </div>
</form>-->



<section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>

<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color" [indeterminate]="someComplete()"
      (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span>
    <ul>
      @for (subtask of task.subtasks; track subtask) {
      <li>
        <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color" (ngModelChange)="updateAllComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </li>
      }
    </ul>
  </span>
</section>