// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use 'theme' as theme;

@include mat.core();
// Required for color=, increases the budget by about 100kb+-, disable when full material 3 theming is supported
@include matx.color-variants-back-compat(theme.$theme);

html {
  @include mat.all-component-themes(theme.$theme);
}

