// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'theme' as theme;

@include mat.core();

html {
  @include mat.all-component-themes(theme.$theme);
}