@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom theme is in src/custom-theme.scss

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}